html, body {
    height: 100%;
}

.container {
    width: 100%;
}
.movie-container {
    width: 100%;
    height: 2000px;
    border: 2px solid black;
    margin-top: 50px;

}
.each-movie {
    margin: 0 auto;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
img {
    width: 140px;
    height: 200px;
    display: inline-block;
}

#search{
    width: 300px;
}
